.con-text{
    overflow: hidden;
    /* border: solid 2px white; */
    padding-top: 3rem;
}

h1 {

    font-size: 12.5vw;
    font-weight:700;
    /* text-transform: uppercase; */
    margin: 0;
    line-height: 0.8;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;
    padding: 2% 0; */
}

.pillow-lava {
    padding: 10px;
    font-family: 'Pilowlava'; 
    color: white; 
}

.union{
    margin-left: 6vw;
    position: absolute;
    width: 120px;
}
.star{
    right: 0;
    margin-top: 2vw;
    margin-right: 5vw;
    position: absolute;
    z-index: 0;
    width: 180px;
}