.contact-text {
    font-size: 7vw;
    z-index: 1;
}

.pillow {
    font-family: 'Pilowlava';
    font-weight: 1000;

}

.poo {
    align-items: center;
    margin-left: 48vw;
    margin-top: -24vw;
    width: 10vw;
    position: absolute;
}

.wong {
    left: 0;
    margin-left: 20vw;
    margin-top: 33vw;
    width: 10vw;
    position: absolute;
    rotate: 45deg;
}