.contact-text{
    font-size: 8vw;
    z-index: 1;
}
.pillow {
    font-family: 'Pilowlava';
}
.poo {
    align-items: center;
    margin-right: 0vw;
    margin-top: -35vw;
    width: 10vw;
    position: absolute;
}

.wong {
    left: 0;
    margin-left: 20vw;
    margin-top: 33vw;
    width: 10vw;
    position: absolute;
    rotate: 45deg;
}