@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: wait;
}

/* .container-custom{
  padding-left: 30px;
  padding-right: 100px;
} */

/* section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* .text-info {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  color: white;
} */

/* .container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fff;
} */


/* .navbar {
  backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(22, 22, 23, .8);
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 3em;
} */

/* .site-logo {
  font-size: 13px;
  color: #fff;
} */



/* .header {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: uppercase;
  text-align: center;
} */

/* #menu-toggle-btn {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10000;
} */

/* span {
  height: 1.4px;
  background: #fff;
  width: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transition: all 0.3s;
  z-index: 10000;

}

span::before {
  content: " ";
  position: absolute;
  display: inline-block;
  height: 1.4px;
  background: #fff;
  transform: translateY(-4px);
  width: 18px;
  transition: all 0.3s;
  top: -2px;
  z-index: 10000;
}

.active span {
  transform: rotate(45deg);
  background: #fff;
  z-index: 10000;
}

.active span::before {
  top: unset;
  transform: rotate(-90deg);
  background: #fff;
  z-index: 10000;
}

.active:hover span::before {
  top: unset;
  z-index: 10000;
} */

/* #nav-container {
  position: fixed;
  top: -100vh;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1;
} */
/* 
.nav {
  width: 50%;
  display: flex;
  justify-content: center;
} */

/* .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
} */

/* .nav-logo {
  font-weight: 300;
  margin-top: -0.2em;
  text-transform: uppercase;
  font-size: 120px;
  color: #000;
} */

/* .nav-socials {
  display: flex;
  flex-direction: flex;
}

.nav-socials a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.nav-link {
  position: relative;
}

.nav-link a {
  position: relative;
  top: 70px;
  text-decoration: none;
  color: #fff;
  font-size: 60px;
  font-weight: lighter;
  
}

.nav-item-wrapper:after {
  content: " ";
  position: absolute;
  top: 80px;
  left: 0;
  width: 500px;
  height: 60px;
  background: #000;
  margin: 0 auto;
  transition: 1s;
}

.nav-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
}

.nav-footer a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 0 1em;
}

.desktop-nav {
  display: none;
} */


/* @media(max-width: 768px) {
  .nav {
    flex-direction: column-reverse;
  }

  .nav-socials {
    flex-direction: row;
    margin-top: 4em;
  }

  .nav-socials a {
    padding: 0 0.4em;
  }

  .nav-footer {
    display: none;
  } */

  /* span {
    display: block;
  } */

  /* .desktop-nav {
    display: block;
  }
} */

/* 
.work-content {
  width: 100%;
  height: max-content;
} */

/* .spline-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.3s ease; 
} */




/* about */
:root {
  --backgroundColor: #FEF852;
  --backgroundColorSecondary: #FFFC94;
  --textPrimaryColor: #2A2A2A;
  --textColorAbout: #1f1f1f;

  --headlineBig: clamp(3rem, 10vw, 15rem);
  --headlineSmall: clamp(1rem, 1.2vw, 6rem);
}
.reveal{
  padding-left: 20%;
  padding-right: 10%;
}
.reveal-text{
  font-size: var(--headlineBig);
  line-height: var(--headlineBig);
  font-weight: 800;
  color: var(--textColorAbout);
  word-wrap: break-word;
  filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2))
}
.spacing-small {
  height: 50vh;
}
.spacing {
  height: 100vh;
}
@media screen and (max-width: 500px) {
  .reveal {
    padding-left: 10px;
  }
}