

    .menu{
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        color: #ffffff;
        z-index: 1;
        padding: 20px 20px;

        .body{
            border-radius: 10px;
            background-color: rgb(41, 41, 41);
            box-sizing: border-box;
            height: 100%;
            padding: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .nav{
                display: flex;
                flex-direction: column;
                justify-items: center;
                font-size: 56px;
                gap: 12px;
                margin-top: 80px;

                .header{
                    color: rgb(153, 153, 153);
                    border-bottom: 1px solid rgb(153, 153, 153);
                    text-transform: uppercase;
                    font-size: 11px;
                    margin-bottom: 40px;
                }

                a{
                    text-decoration: none;
                    color: white;
                    font-weight: 300;
                }
                
            }
            
            @media (max-width: 767px) {
                .nav {
                    font-size: 40px;
                }
            }
          
            @media (max-width: 469px) {
                .nav {
                    font-size: 30px;
                }
            }

            @media (max-width: 419px) {
                .nav {
                    font-size: 25px;
                }
            }

            @media (max-width: 330px) {
                .nav {
                    font-size: 20px;
                }
            }


            @media (max-width: 270px) {
                .nav {
                    
                    font-size: 18px;
                }
            }

        }

        @media (max-width: 330px) {
            .body {
                padding: 60px;
            }
        }

        @media (max-width: 270px) {
            .body {
                padding: 40px;
            }
        }

        @media (max-width: 250px) {
            .body {
                padding: 50px;
            }
        }

        @media (max-width: 240px) {
            .body {
                padding: 45px;
            }
        }
    }
